<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- GoogleFont -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- /GoogleFont -->
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- /FontAwesome -->
    <!-- VueJs -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- /VueJs -->
    <!-- css -->
    <link rel="stylesheet" href="dist/app.css">
    <!-- /css -->
    <!-- favicon -->
    <link rel="icon" type="image/png" href=""/>
    <!-- /favicon -->
    <title>Avada Construction</title>
  </head>
  <body>

    <div id="root">
      <!-- header -->
      <header class="header p-30">
        <!-- logo -->
        <div class="header__logo">
          <img :src="logo_nav" alt="logo">
        </div>
        <!-- /logo -->
        <!-- navbar -->
        <ul class="header__navbar" v-if="navbar.length > 0">
          <li v-for="(elem) in navbar" class="mdx-30"> <a :href="'#anchor' + elem.numAncor">{{elem.label}}</a> </li>
          <li v-for="(elem) in nav_btn" class="btn primary">{{elem.label}}</li>
          <li><i class="fas fa-caret-down"></i></li>
        </ul>
        <!-- /navbar -->
        <!-- hamburger menu -->
        <div class="hamburger">
          <i class="fas fa-bars"></i>
        </div>
        <!-- /hamburger menu -->
      </header>
      <!-- /header -->

      <!-- hero banner-->
      <a name="anchor_1"></a>

      <div class="hero">
        <div class="hero__content">
          <h1 class="xbig-text">BUILDING INSPIRING SPACES</h1>
          <h3 class="normal-text pt-30 pb-30">We Build Inspiring Residential & Commercial Spaces</h4>
          <a href="#" class="btn secondary mdx-10 mb-10">EXPLORE RECENT WORK</a>
          <a href="#" class="btn primary">GET A QUOTE TODAY</a>
        </div>
      </div>
      <!-- sezione con btn help -->
      <section class="help">
        <h2 class="pt-40 med-text">Do You Have A Construction Project We Can Help With?</h2>
        <a href="#" class="btn border">GET A FREE QUOTE</a>
      </section>
      <!-- /sezione con btn help -->
      <!-- /hero banner-->

      <!-- main -->
      <main>
        <a name="anchor_2"></a>
        <!-- 1° sezione del main -->
        <div class="box1 mt-50">
          <div class="container mt-50">
            <h3 class="med-text pt-50 pb-30">Specialist in Modern Construction</h3>
            <hr>
            <p class="pt-40 mb-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
          </div>
          <div class="box1__card">
            <div class="card p-10">
              <i class="far fa-building p-20 mt"></i>
              <h3 class="big-text pt-20 pb-20">Buildings</h3>
              <p class="small-text">Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
              <div class="overlay">
                <h3 class="normal-text pb-20">ARTFULLY CRAFTED</h3>
                <p class="mb-20 small-text">Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                <a class="btn primary">GET QUOTE</a>
              </div>
            </div>
            <div class="card p-10">
              <i class="fas fa-sync p-20"></i>
              <h3 class="big-text pt-20 pb-20">Renovate</h3>
              <p class="small-text">Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
              <div class="overlay">
                <h3 class="normal-text pb-20">ARTFULLY CRAFTED</h3>
                <p class="mb-20 small-text">Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                <a class="btn primary">GET QUOTE</a>
              </div>
            </div>
            <div class="card p-10">
              <i class="fas fa-home p-20"></i>
              <h3 class="big-text pt-20 pb-20">Construct</h3>
              <p class="small-text">Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
              <div class="overlay">
                <h3 class="normal-text pb-20">ARTFULLY CRAFTED</h3>
                <p class="mb-20 small-text">Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                <a class="btn primary">GET QUOTE</a>
              </div>
            </div>
            <div class="card p-10">
              <i class="fas fa-truck p-20"></i>
              <h3 class="big-text pt-20 pb-20">Exclusive</h3>
              <p class="small-text">Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
              <div class="overlay">
                <h3 class="normal-text pb-20">ARTFULLY CRAFTED</h3>
                <p class="mb-20 small-text">Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
                <a class="btn primary">GET QUOTE</a>
              </div>
            </div>
          </div>
        </div>
        <!-- 2° sezione del main -->
        <div class="curve1">
          <div class="curve1__line-top"></div>
          <div class="curve1__img">
            <div class="wrapper-data">
              <div class="data">
                <i class="fas fa-suitcase"></i>
                <h2 class="xbig-text pt-20 pb-20">3534</h2>
                <h4>PLANNING APPLICATIONS</h4>
              </div>
              <div class="data">
                <i class="far fa-building"></i>
                <h2 class="xbig-text pt-20 pb-20">896</h2>
                <h4>COMPLETED PROJECTS</h4>
              </div>
              <div class="data">
                <i class="fas fa-users"></i>
                <h2 class="xbig-text pt-20 pb-20">172</h2>
                <h4>TRAINED PROFESSIONALS</h4>
              </div>
              <div class="data">
                <i class="fas fa-globe"></i>
                <h2 class="xbig-text pt-20 pb-20">19</h2>
                <h4>INTERNATIONAL OFFICES</h4>
              </div>
            </div>
          </div>
          <div class="curve1__line-bottom"></div>
        </div>
        <a name="anchor_4"></a>
        <!-- 3° sezione del main -->
        <div class="box2 pb-50">
          <div class="container">
            <h3 class="med-text pb-30">Explore Recent Work</h3>
            <hr>
            <p class="pt-40 mb-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. quis nostrud exercitation ullamco.</p>
          </div>
          <div class="box2__card">
            <div class="card mb-40">
              <img src="img/building-1.jpg" alt="build1">
              <div class="overlay p-50">
                <div class="wrapper-over">
                  <i class="p-20 mdx-10 fas fa-link"></i>
                  <i class="p-20 fas fa-search"></i>
                  <h5 class="normal-text pt-30">Florida Heath Facility</h5>
                  <h6 class="small-text pt-30">Commercial</h6>
                </div>
              </div>
            </div>
            <div class="card mb-40">
              <img src="img/building-2.jpg" alt="build2">
              <div class="overlay p-50">
                <div class="wrapper-over">
                  <i class="p-20 mdx-10 fas fa-link"></i>
                  <i class="p-20 fas fa-search"></i>
                  <h5 class="normal-text pt-30">Florida Heath Facility</h5>
                  <h6 class="small-text pt-30">Commercial</h6>
                </div>
              </div>
            </div>
            <div class="card mb-40">
              <img src="img/building-3.jpg" alt="build3">
              <div class="overlay p-50">
                <div class="wrapper-over">
                  <i class="p-20 mdx-10 fas fa-link"></i>
                  <i class="p-20 fas fa-search"></i>
                  <h5 class="normal-text pt-30">Florida Heath Facility</h5>
                  <h6 class="small-text pt-30">Commercial</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="line">
            <div class="line__top"></div>
            <h4 class="small-text mt-50 mb-50">VIEW ALL PROJECTS</h4>
            <div class="line__bottom"></div>
          </div>
        </div>
        <a name="anchor_3"></a>
        <!-- 4° sezione del main -->
        <div class="box3">
          <div class="container">
            <h3 class="med-text pt-50 pb-30">Our Core Values</h3>
            <hr>
            <p class="pt-40 mb-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. quis nostrud exercitation ullamco</p>
          </div>
          <div class="box3__card">
            <div class="card p-10 mdx-20">
              <i class="fas fa-home p-30"></i>
              <div>
                <h3 class="small-text pt-20 pb-20">Great Services</h3>
                <hr>
                <p class="xsmall-text mt-20">Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur. adipisci velit, sed quia.</p>
              </div>
            </div>
            <div class="card p-10 mdx-20">
              <i class="fas fa-cog p-30"></i>
              <div>
                <h3 class="small-text pt-20 pb-20">Highest Standards</h3>
                <hr>
                <p class="xsmall-text mt-20">Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur. adipisci velit, sed quia.</p>
              </div>
            </div>
            <div class="card p-10 mdx-20">
              <i class="fas fa-users p-30"></i>
              <div>
                <h3 class="small-text pt-20 pb-20">Professional Team</h3>
                <hr>
                <p class="xsmall-text mt-20">Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur. adipisci velit, sed quia.</p>
              </div>
            </div>
            <div class="card p-10">
              <i class="far fa-lightbulb p-30"></i>
              <div>
                <h3 class="small-text pt-20 pb-20">Creative Solutions</h3>
                <hr>
                <p class="xsmall-text mt-20">Quis autem vel eum iure reprederit qui in ea voluptate velit esse quam nihil molestiae consequatur. adipisci velit, sed quia.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- 5° sezione del main -->
        <div class="curve2">
          <div class="curve2__line-top"></div>
          <div class="curve2__img">
            <div class="description">
              <h3 class="med-text mb-20">Our Home Owners Say</h3>
              <hr>
              <img v-if="time != 1" class="mt-20" src="img/testimonial.jpg" alt="newhome">
              <img v-else class="mt-20" src="img/testimonial-2.jpg" alt="newhome">
              <p v-if="time != 1" class="mt-20 mb-20">"No man but feels more of a man in the world if he have but a bit of ground that he can call his own. However small it is on the surface, it is four thousand miles deep: and that is a very heandsome property."</p>
              <p v-else class="mt-20 mb-20">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip."</p>
              <h4 v-if="time != 1" class="mb-10">SARAH GALLAGHER &#183; NEW HOME OWNER</h4>
              <h4 v-else class="mb-10">HARRY SMITH &#183; NEW HOME OWNER</h4>
              <div v-if="time != 1">
                <i @click="timeDown" class="fas fa-circle"></i>
                <i @click="timeUp" class="far fa-circle"></i>
              </div>
              <div v-if="time == 1">
                <i @click="timeDown" class="far fa-circle"></i>
                <i @click="timeUp" class="fas fa-circle"></i>
              </div>
            </div>
          </div>
          <div class="curve2__line-bottom"></div>
        </div>
        <a name="anchor_5"></a>
        <!-- 6° sezione del main -->
        <div class="box4 pb-50">
          <div class="container">
            <h3 class="med-text  pb-30">Latest News</h3>
            <hr>
            <p class="pt-40 mb-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. quis nostrud exercitation ullamco.</p>
          </div>
          <div class="box4__card">
            <div class="card mb-40">
              <div class="img_top">
                <img src="img/news-1.jpg" alt="news1">
                <div class="overlay p-20">
                  <div class="wrapper-over">
                    <i class="p-10 mdx-10 fas fa-link"></i>
                    <i class="p-10 fas fa-search"></i>
                    <h5 class="mt-10 small-text">Redeveloping Florida's Remote Southern Coast</h5>
                    <h6 class="mt-10 xsmall-text">Architecture, Building, Construction, News</h6>
                  </div>
                </div>
              </div>
              <div class="news p-20">
                <h4 class="mb-10">Redeveloping Florida's Remote Southern Coast</h4>
                <h6 class="mb-10">December 7th 2015</h6>
                <div class="line_card"></div>
                <p class="mt-10 small-text">Technology is Here to Stay Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vivamus purus nisl. elementum vitae consequat at, tristique ut enim. Sed ut dignissim leo. Nullam sed metus id sapien faucibus rhoncus sed.</p>
              </div>
            </div>
            <div class="card mb-40">
              <div class="img_top">
                <img src="img/news-2.jpg" alt="news2">
                <div class="overlay p-20">
                  <div class="wrapper-over">
                    <i class="p-10 mdx-10 fas fa-link"></i>
                    <i class="p-10 fas fa-search"></i>
                    <h5 class="mt-10 small-text">How We Manage Large Construction Projects</h5>
                    <h6 class="mt-10 xsmall-text">Architecture, Building, Construction, News</h6>
                  </div>
                </div>
              </div>
              <div class="news p-20">
                <h4 class="mb-10">How We Manage Large Construction Projects</h4>
                <h6 class="mb-10">December 6th 2015</h6>
                <div class="line_card"></div>
                <p class="mt-10 small-text">Technology is Here to Stay Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vivamus purus nisl. elementum vitae consequat at, tristique ut enim. Sed ut dignissim leo. Nullam sed metus id sapien faucibus rhoncus sed.</p>
              </div>
            </div>
            <div class="card mb-40">
              <div class="img_top">
                <img src="img/news-3.jpg" alt="news3">
                <div class="overlay p-20">
                  <div class="wrapper-over">
                    <i class="p-10 mdx-10 fas fa-link"></i>
                    <i class="p-10 fas fa-search"></i>
                    <h5 class="mt-10 small-text">Future proofing a modern home</h5>
                    <h6 class="mt-10 xsmall-text">Architecture, Building, Construction, News</h6>
                  </div>
                </div>
              </div>
              <div class="news p-20">
                <h4 class="mb-10">Future proofing a modern home</h4>
                <h6 class="mb-10">December 5th 2015</h6>
                <div class="line_card"></div>
                <p class="mt-10 small-text">Technology is Here to Stay Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vivamus purus nisl. elementum vitae consequat at, tristique ut enim. Sed ut dignissim leo. Nullam sed metus id sapien faucibus rhoncus sed.</p>
              </div>
            </div>
          </div>
          <div class="line">
            <div class="line__top"></div>
            <h4 class="small-text mt-50 mb-50">VIEW ALL ARTICLES</h4>
            <div class="line__bottom"></div>
          </div>
        </div>
        <!-- partners del main -->
        <div class="partners__main">
          <div class="container mt-50">
            <h3 class="med-text pt-50 pb-30">Trusted Partners</h3>
            <hr>
            <p class="pt-40 mb-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. quis nostrud exercitation ullamco.</p>
          </div>
          <div class="wrapper">
            <img src="img/partner-1.png" alt="p1">
            <img src="img/partner-2.png" alt="p2">
            <img src="img/partner-3.png" alt="p3">
            <img src="img/partner-4.png" alt="p4">
            <img src="img/partner-5.png" alt="p5">
          </div>
        </div>
        <!-- hero del main -->
        <div class="hero__main">
          <div class="wrapper">
            <div class="content__sx mdx-50">
              <h3 class="med-text pt-50 pb-20">Building Inspiring Spaces</h3>
              <hr>
              <p class="pt-20 mb-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="content__dx msx-50">
              <a href="#" class="btn primary">GET A QUOTE TODAY</a>
              <h5 class="mt-20">Only takes a few seconds!</h5>
            </div>
          </div>
        </div>
      </main>
      <!-- /main -->

      <!-- footer -->
      <footer class="footer">
        <div class="footer__contact">
          <div class="wrapper ">
            <ul class="footer__list" v-if="footer.length > 0">
              <li :class="'li' + footer[0].order">
                <img :src="logo_footer" alt="logofooter">
                <ul :class="'li__content' + footer[0].order">
                  <li class="mt-30"> <span class="small-text">We are specialist in the construction of unique and exclusive properties. Our work inspires. We pride ourselves on delivering outstandig quality and design for leading clients across the world.</span> </li>
                  <li class="btn primary mt-30">LEARN MORE</li>
                </ul>
              </li>

              <li :class="'li' + footer[1].order">
                <h5 class="mb-50">{{footer[1].title}}</h5>
                <ul :class="'li__content' + footer[1].order">
                  <li class="tweet" v-for="(tweetter) in tweet">
                    <ul class="tweet__user">
                      <li class="user__name">
                        <img :src="'img/' + tweetter.icon + '.png'" alt="user-img" class="mdx-10">
                        <div>
                          <h5>{{tweetter.name}}</h5>
                          <h6>{{tweetter.account}}</h6>
                        </div>
                      </li>
                      <li> <i :class="tweetter.socialIcon"></i> </li>
                    </ul>
                    <ul class="tweetter psx-50">
                      <li class="small-text">{{tweetter.postText}}</li>
                      <li class="mt-20 mb-10"> <img :src="'img/' + tweetter.postImg + '.jpeg'" alt="post"> </li>
                    </ul>
                    <ul class="share psx-50">
                      <li>
                        <div>
                          <i :class="tweetter.like + ' ' + 'mdx-20'"></i>
                          <i :class="tweetter.retweet"></i>
                        </div>
                      </li>
                      <li>{{tweetter.ora}}</li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li :class="'li' + footer[2].order">
                <h5 class="mb-50">{{footer[2].title}}</h5>
                <ul :class="'li__content' + footer[2].order">
                  <li v-for="(elem, i) in contact" class="block__data mb-20">
                    <ul class="dato">
                      <li> <i :class="elem.icon  + ' ' + 'mdx-20'"></i> </li>
                      <li class="xsmall-text">{{elem.info}}</li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li :class="'li' + footer[3].order" v-for="(elem) in maps">
                <h5 class="mb-50">{{footer[3].title}}</h5>
                <a :href="elem.linkMaps"> <img :src="'img/' + elem.img" alt="map"> </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- sezione del COPYRIGHT -->
        <div class="footer__copyright pdx-20 psx-20">
          <div class="note">
            <h4 class="xsmall-text">{{testo_COPYRIGHT}}</h4>
          </div>
          <div class="social" v-if="social.length > 0">
            <a v-for="(elem) in social" :href="elem.link"> <i :class="'fab' + ' ' + elem.icon + ' ' + 'msx-10'"> </i> </a>
          </div>
        </div>
      </footer>
      <!-- /footer -->
    </div>


    <!-- script -->
    <script type="text/javascript" src="js/script.js"></script>
    <!-- /script -->
  </body>
</html>
