.header{
  height: 140px;
  @include my-display-flex;
  justify-content: space-between;
  align-items: center;
  &__logo img{height: 80px; width: auto; cursor: pointer;}
  &__navbar{@include my-display-flex; align-items: center; position: relative; li:first-child a{color: $color-primary500;}}
  .hamburger{
    display: none;
    cursor: pointer;
    color: $color-primary500;
    font-size: 30px;
  }
}
.fa-caret-down{
  font-size: 30px;
  color: $color-white;
  position: absolute;
  bottom: -68px;
  left: 20px;
}
@media (max-width: $tablet-wide) {
  .header__navbar{display: none;}
  .header .hamburger{display: block;}
}
