.partners__main{
  height: 420px;
  width: 100%;
  align-items: center;
  .wrapper{
    width: $container-small;
    margin: 0 auto;
    @include my-display-flex;
    justify-content: space-between;
    align-items: center;
    img{width: 16%; height: auto;}
  }
}
@media (max-width: $tablet-new) {
  .partners__main{
    height: auto;
    .wrapper{
      width: 80%;
      flex-wrap: wrap;
      justify-content: center;
      img{width: 40%; height: auto;}
    }
  }
}
