// display flex
@mixin my-display-flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
// truncate text
@mixin truncate($truncation-boundary) {
    max-width: $truncation-boundary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
