// colors palette
$color-white: white;
  // yellow
$color-primary: #f9d03f;
$color-primary500: #fed23f;
  // grey
$color-secondary: #bcbcbc;
$color-secondary500: #6b6868;
$color-secondary700: #666665;

// font-size
$font-small: 15px;
$font-normal: 20px;
$font-med: 25px;
$font-big: 35px;

// container
$container-big: 1440px;
$container-basic: 1280px;
$container-small: 920px;
$container-xsmall: 800px;

// truncate
$truncation-boundary: 60px;
